#about {
    margin-top: 13vw;
    text-align: center;
    padding: 0px;
    border: 2px solid;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
    background-color: rgb(226, 226, 226);
}
.about_text {
    
    
    
    font-size: 20px;
}
h1 {
    width: auto;
    text-align: center;
    margin-top: 5vw;
}

ul {
    margin-top: 5vw
}
#about ul li {
    background-color: #dad3ff94;
    margin: 1vw;
    font-size: 1vw;
    font-family: cursive;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}