#about {
    margin-top: 17vw;
}
.about_text {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    border: 2px solid;
    padding: 50px;
    font-size: 20px;
}
h1 {
    width: auto;
    text-align: center;
    margin-top: 5vw;
}

ul {
    margin-top: 5vw
}
#about ul li {
    background-color: #e2cfb654;
    margin: 1vw;
    font-size: 1vw;
    font-family: cursive;
}