#cur-service-info{
    align-items: center;
    margin-top: 15%;
}

.textHeader {
    text-align: center;
    font-size: 45px;
    font-family: 'Lilita One', cursive;
}

#img1 {
    width: 90%;
    max-height: 700px;
    display: block;
    margin: auto;
}

.textCaptions {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 25px;
    border: 2px solid #e0daa3;
    margin: 5% 5%;
    padding: 2%;
    background-color: rgb(255 255 255);
}
