html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    height: 170px;
}
#hamburger-menu-btn {
    display: block;
    position: fixed;
    top: 70px;
    left: 10px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

    #hamburger-menu-btn.open {
        transform: rotate(90deg);
    }


#menu {
    list-style-type: none;
    align-items: center;
    position: fixed;
    top: 70px;
    left: -300px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease-in-out;
    margin-top: 40px;
}

    #menu.show {
        left: 0;
        margin-top: 40px;
    }

    #menu ul {
        list-style: none;
        margin: 0;
        padding: 0;

    }

    #menu li {
        margin: 0;
        margin-top: 5px;
        padding: 10px 0;
        /*border-bottom: 1px solid #ddd;*/

    }

        #menu li:last-child {
            border-bottom: none;
        }

    #menu a {
        display: block;
        padding: 0 20px;
        color: #333;
        text-decoration: none;
        line-height: 40px;

    }


#logo {
    position: relative;
    width: 120%;
    height: 120px;
    margin-left: -40px;
    top: -127px;
    
}

.number {
    position: fixed;
    z-index: 40;
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: 700;
    border: thin;
    margin: 0;
    padding: 6px 0px 6px 0px;
    text-shadow: 2.5px 1.5px 1px rgb(0 0 0 / 60%);
    top: 1.5%;
    text-align: center;
    left: 57%;
    width: 42%;
    background-color: rgb(238 184 35 / 90%);
    color: white;
    font-size: 144%;
    border-radius: 2vw;
}

.header-con {
    background-color: #AbAbAb;
    height: 125px;
    width: 100%;
}
.selected-lang {
    white-space: nowrap;
    position: absolute;
    right: 3vw;
    top: 120px;
    
}

.hypert {
    display: inline-block;
    font-size: 20px;
    align-content: center;
    font-family: BPG ExtraSquare Mtavruli, sans-serif;
    cursor: pointer;
    color: black;
}

#hypert-text {
    text-decoration-line: none;
    text-decoration-color: #000;
}

a:active {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}