body {
    margin: 0;
    padding: 0;
}

.footer-con {
    background-color: #25362c;
    width: 100%;
}

#mobile-footer-logo {
    width: 100%;
}

#logo-size {
    width: 24px;
    margin-top: -9px;
    margin-left: 30px;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 210px);
    grid-gap: 0px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: white;
    font-size: 16px;
}

.footer-grid-item1 {
    border-style: none solid none none;
    border-color: white;
}

#grid-text {
    margin-top: 12px;
    margin-left: 30px;
}

.info-con {
    background-color: #25362c;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #b6ff00;
}

    nav a:hover {
        color: rgb(255, 216, 0);
    }

.gmail-but {
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    height: 24px;
    width: 24px;
}

#gmail-but-img {
    padding: 0;
    margin: 0;
    width: 23px;
    height: 19px;
    padding: 0px 0px 5px;
}

#gmail-but-img1 {
    width: 30px;
    height: 30px;
}

.footer-text {
    color: white;
    margin-top: 10px;
}

.footer-list-color {
    color: white;
}

.footer-list-border {
    border-color: grey;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    text-align: left;
    padding-left: 2%;
}
#phone-size{
    width: 22px;
    padding-right: 5px;
}
#location-size {
    width: 24px;
    padding-right: 5px;
}
#gmail-icsize {
    width: 22px;
    padding-right: 5px;
}
